<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>

<body>
  <!-- <script src="//d3js.org/d3.v3.min.js"></script> -->
  <!-- <script src="//d3js.org/d3.geo.projection.v0.min.js"></script> -->
  <!-- <script src="//d3js.org/topojson.v1.min.js"></script> -->
  <script type="text/javascript" src="../node_modules/d3.v3.min.js"></script>
  
  <script type="text/javascript" src="../node_modules/d3.geo.projection.v0.min.js"></script>
  <script type="text/javascript" src="../node_modules/topojson.v1.min.js"></script>
  <script type="text/javascript" src="../assets/javascripts/worldMap.js"></script>


</body>